header{
    background: url("../../assets/Header5.jpg") center no-repeat ;
    background-size: cover;
    width: 100%;
    max-width: 100%;
    text-align:left;
    height: auto;
    max-height: 100%;
    overflow: hidden;
    padding: 25px 0px;
    margin-top: 0px;
}
header .row{
    margin: 60px 0px;
}
header h2{
    color:  #43121d;
    font-size: 42px;
    line-height: 60px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    width: 80%;
            }
header p{
    color: #333;
    font-family: 'Cairo', sans-serif;
    font-size: 20px;
    margin: 15px 0px;
}
header button{
    width: 140px;
    height: 40px;
    background-color: #7c0f28;
    border: 1px solid #7c0f28;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    margin: 20px 10px 20px 0px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
}
header button:last-of-type{
    background-color: #fff;
    color: #000;
}